<form #f="ngForm" (ngSubmit)="submit(f)">
    <div ngModelGroup="contact" #contact="ngModelGroup" class="form-group">
        <div *ngIf="contact.touched && !contact.valid">The group contact is invalid</div>
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input
                required
                minlength="3"
                maxlength="10"
                pattern="banana"
                ngModel
                name="firstName"
                #firstName="ngModel"
                (change)="log(firstName)"
                id="firstName"
                type="text"
                class="form-control">
            <div
                class="alert alert-danger"
                *ngIf="firstName.touched && !firstName.valid">
    
                <div *ngIf="firstName.errors.required">
                    First name is required
                </div>
                <div *ngIf="firstName.errors.minlength">
                    First name should be min {{ firstName.errors.minlength.requiredLength }} chars (actual: {{ firstName.errors.minlength.actualLength }})
                </div>
                <div *ngIf="firstName.errors.pattern">
                    First name doesn't match pattern
                </div>
            </div>
        </div>
    </div>
    
    <div class="form-group">
        <label for="comment">Comment</label>
        <textarea ngModel name="comment" id="comment" cols="30" rows="10" class="form-control"></textarea>
    </div>
    
    <div class="checkbox">
        <label>
            <input type="checkbox" ngModel name="isSubscribed"> Subscribe to newsletter
        </label>
    </div>
    <div class="form-group">
        <label for="contactMethod">Contact Method</label>
        <select multiple ngModel name="contactMethod" id="contactMethod" class="form-control">
            <!-- [ngValue] only used when we need to attach a complex object to the value. Otherwise [value]="method.id" is just fine. --> 
            <option *ngFor="let method of contactMethods" [value]="method.id" >{{ method.name }}</option>
        </select>
    </div>

    <div *ngFor="let method of contactMethods" class="radio">
        <label [for]="method.id">
            <input ngModel type="radio" name="contactMethod" [value]="method.id" [id]="method.id">
            {{ method.name }}
        </label>
    </div>

    
    <p>
        {{ f.value | json }}
    </p>
    <button [disabled]="!f.valid" class="btn btn-primary">Submit</button>
</form>