<h1>Hello Angular</h1>

<products></products>
<my-followers></my-followers>

<!--
<bootstrap-panel>
    <ng-container class="heading">Heading</ng-container>
    <ng-container class="body">
        <h2>Body</h2>
        <p>Content</p>
    </ng-container>
</bootstrap-panel>
<star [is-favorite]="post.isFavorite" (change)="onFavoriteChange($event)"></star>


<div>
    <like [is-liked]="tweet.liked" [nr-likes]="tweet.nrlikes"></like>   
</div>


<div *ngIf="courses.length > 0; then coursesList else noCourses">
   
</div>
<ng-template #coursesList>
    List of coursesList
</ng-template>
<ng-template #noCourses>
    No courses yet
</ng-template>

<div [hidden]="courses.length==0">
   hidden when no courses
</div>

<ul class="nav nav-pills">
    <li [class.active]="viewMode=='map'"><a (click)="viewMode='map'">Map view</a></li>
    <li [class.active]="viewMode=='list'"><a (click)="viewMode='list'">List view</a></li>
</ul>
<div [ngSwitch]="viewMode">
    <div *ngSwitchCase="'map'">Map View Content</div>
    <div *ngSwitchCase="'list'">List View Content</div>
    <div *ngSwitchDefault>Otherwise</div>
</div>

<button (click)="loadCourses()">Load curses</button>

use trackBy to avoid tracking by internal memory-id (default) but define in a method how to track. Avoids unnecessary reload in large DOM's 

<ul>
    <li *ngFor="let course of courses; even as isEven; trackBy: trackCourse">
        {{ course.name }} <span *ngIf="isEven">(EVEN)</span> <button (click)="onChange(course)">Change</button>
    </li>
</ul>

 ngStyle takes an object with styles as keys 
<button
    [ngStyle]="{
        'backgroundColor': canSave ? 'blue' : 'gray',
        'color': canSave ? 'white' : 'black',
        'fontWeight': canSave ? 'bold' : 'normal'
    }"
>Save</button>


    Save traversal with ?. Will not access 'name' if assignee is null 
    Could also be solved by ngIf="task.assignee" 

<span> {{ task.assignee?.name }} </span>

Create custom directive with only one property
<div>
    <input type="text" [appInputFormat]="'uppercase'">
    <input type="text" [appInputFormat]="'lowercase'">

</div>


<zippy *ngFor="let task of tasks" [title]="task.title">
    Assignee: {{ task.assignee?.name }}
</zippy>

-->